/* ==========================================================================
   LOGIN PAGE STYLES (Menggunakan variabel dari base.css)
   ========================================================================== */

.kotak-login {
    width: 100%;
    max-width: 460px;
    background-color: #ffffff; 
    border: 1px solid #e5e7eb; 
    border-radius: 16px; 
    padding: 40px 75px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

.teks-logo {
    color: var(--color-purple); /* Menggunakan variabel global */
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-family: var(--font-heading) !important; /* Gunakan font Poppins */
}

.tombol-ungu {
    background-color: var(--color-purple);
    padding: 10px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.tombol-ungu:hover {
    background-color: var(--color-blue);
}

.link-daftar {
    color: var(--color-blue);
}