/* ==========================================================================
   KOMPONEN: TOPBAR
   ========================================================================== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    background-color: transparent; 
}